# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.dbmdl
*.jfm
*.vs/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Visual Studio
.vs/
*.sln.ide/
*.userprefs

# JetBrains Rider
.idea/
*.sln.iml

# Windows
Thumbs.db
Desktop.ini

# OSX
.DS_Store
